h1{
    color: red;
}
ul{
    list-style: none;
    display: flex;
    margin-right: 10px;
    background-color: rgb(250, 255, 205);
}
li{
    margin-right: 20px;
}
li:hover{
    color: rgb(0, 17, 255);
    cursor: pointer;
}